:root {
  --primary-color: #1a1a40;
  --secondary-color: #ffc300;
  --accent-color: #ff5733;
  --text-color: #fff;
  --logo-font: "Bebas Neue";
  --text-font: Poppins;
  --header-font: Montserrat;
  --options-font: "Nunito";
  --correct: #00ff00;
  --wrong: #ff0000;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo.hidden {
  display: none;
}

.header .logo,
.header .timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .timer.hidden {
  display: none;
}

.header .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header .logo a span {
  font-size: 1rem;
  color: var(--text-color);
  font-family: var(--logo-font);
}

.header .logo a img {
  width: 58px;
}

.header .timer span {
  font-family: var(--logo-font);
  font-size: 1.25rem;
  color: var(--text-color);
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .splash-screen.hidden {
  display: none;
}

main #quiz form .options button.correct {
  background-color: var(--correct);
  font-weight: bold;
  transition: all ease-in 0.5s;
}

main #quiz form .options button.wrong {
  background-color: var(--wrong);
  font-weight: 500;
  color: var(--text-color);
  transition: all ease-in 0.5s;
}

main .splash-screen article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

main #quiz article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

main .splash-screen article header,
main #quiz article header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .splash-screen article header h1,
main #quiz article header h1 {
  font-size: 2rem;
  color: var(--secondary-color);
  font-family: var(--header-font);
  text-align: center;
}

main .splash-screen article p {
  text-align: center;
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 1rem;
}

main .splash-screen article a {
  background-color: var(--accent-color);
  padding: 0.625rem;
  text-align: center;
  color: var(--text-color);
  font-weight: bold;
  border-radius: 6px;
  font-size: 1.125rem;
  font-family: var(--text-font);
  text-decoration: none;
  transition: all ease-in 0.5s;
}

main #quiz form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: var(--text-color);
  gap: 15px;
}

main #quiz.hidden {
  display: none;
}

main #quiz form label {
  font-size: 1rem;
  font-family: var(--text-font);
  font-weight: 500;
  color: var(--primary-color);
}

main #quiz form .options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

main #quiz form .options button {
  align-self: flex-start;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #000;
  text-align: left;
  font-size: 0.75rem;
  font-family: var(--options-font);
  color: var(--primary-color);
  background-color: var(--text-color);
  padding: 5px;
  transition: all ease-in 0.5s;
}

main #quiz form .btn {
  display: flex;
  align-items: center;
  width: 100%;
}

main #quiz form .btn button {
  align-self: flex-start;
  padding: 5px;
  font-family: var(--text-font);
  background-color: var(--accent-color);
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--text-color);
  border: none;
  text-align: center;
  transition: all ease-in 0.5s;
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) {
  main #quiz form {
    width: 400px;
  }
}

@media only screen and (min-width: 1000px) {
  main .splash-screen article a:hover,
  main #quiz form .btn button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

  main #quiz form {
    width: 632px;
  }

  main #quiz form .options button:hover {
    background-color: var(--secondary-color);
    font-weight: bold;
  }
}
